TURN_SECRET={{ vault_turn_secret }}
TURN_HOST={{ config.duckdns_subdomain }}.duckdns.org
AMI_USER={{ vault_ami_user }}
AMI_SECRET={{ vault_ami_secret }}
DB_HOST=localhost
DB_NAME={{ freevoice_db_name }}
DB_USER={{ freevoice_db_user }}
DB_PASSWORD={{ vault_freevoice_db_password }}
JWT_SECRET={{ vault_jwt_secret }}
VAPID_KEY_FILE=/etc/voip-api-vapid.key
VAPID_PUBLIC_KEY={{ vault_vapid_public_key }}
VAPID_EMAIL=mailto:admin@{{ config.duckdns_subdomain }}.duckdns.org
SYGNAL_URL={{ sygnal_url }}
SYGNAL_APP_ID={{ sygnal_app_id }}
NODE_DOMAIN={{ config.duckdns_subdomain }}.duckdns.org
PUBLIC_BASE_URL=https://{{ config.duckdns_subdomain }}.duckdns.org:{{ https_port }}
SMTP_HOST={{ config.smtp_host | default('') }}
SMTP_PORT={{ config.smtp_port | default(587) }}
SMTP_FROM={{ config.smtp_from | default('noreply@' ~ config.duckdns_subdomain ~ '.duckdns.org') }}
SMTP_USER={{ vault_smtp_user | default('') }}
SMTP_PASSWORD={{ vault_smtp_password | default('') }}
SMTP_STARTTLS={{ config.smtp_starttls | default('1') }}
SMTP_SSL={{ config.smtp_ssl | default('0') }}
EMAIL_DEBUG={{ config.email_debug | default('0') }}
ALLOW_REGISTRATION={{ config.allow_registration | default('1') }}
EMAIL_VERIFY_TTL_HOURS={{ config.email_verify_ttl_hours | default(24) }}
PASSWORD_RESET_TTL_HOURS={{ config.password_reset_ttl_hours | default(24) }}
LIVEKIT_API_KEY={{ vault_livekit_api_key }}
LIVEKIT_API_SECRET={{ vault_livekit_api_secret }}
LIVEKIT_URL=wss://{{ config.duckdns_subdomain }}.duckdns.org:{{ https_port }}/livekit-ws
DENDRITE_URL=http://127.0.0.1:{{ dendrite_port }}
DENDRITE_REGISTRATION_SECRET={{ vault_dendrite_registration_secret }}
